#btnl{
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
}

#btnr{
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
}

img{
  width: 958px;
  height: 578px;
}

h1{
  color: black;
  margin-left: 395px;
  font-weight: bold;
}

.wrapper{
  max-width: 1000px;
  position: relative;
  margin-left: 100px;
}

.mySlides{
  width: 100%;
}
